/* GLOBAL SETTINGS */
body{
    background-color:#39425c;
}

main{
    margin: 5rem;
    color: #ffffff;
}

.container {
    max-width: 960px;
}

/* HEADER */
.site-header {
    background-color: #0d1732;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    align-items: center;
}

.site-header a {
    color: #ffffffc9
}

.site-header a:hover {
    color: #ffffff
}