/* GLOBAL SETTINGS */
body{
    background-color:#39425c;
}

main{
    margin: 5rem;
    color: #ffffff;
}

.container {
    max-width: 960px;
}

.nav-link {
    color: #bfbfbf;
}

.nav-link:hover {
    color: #ffffff;
}

.active{
    color: #ffffff;
    font-weight: bold;
}